<h1> Welcome to Awesome menus </h1>
<div class="menu_form">
  <%= render "menu_form" %>
</div>

<div class="menu_list">
  <% @menus.each do |menu| %>
    <div>
      <h3> <%= menu.name %> </h3>
    </div>
  <% end %>
</div>